.service_details{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 1200px;
    margin: 50px auto;
}
.services_picture img {
    width: 100%;
    height: 100%;
}
.details_list ul{
    list-style: none;
}
.details_list span{
    display: block;
    font-size: 12px;
    padding: 3px 0;
}
.details_list li{
    padding: 10px 0;
}
.ser_all_det{
    padding: 0px 30px;
}
.meetup{
    width: 900px;
    margin: 0 auto;
}
.our_meet,.our_meet2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.our_meet2{
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0;
}
.meetup h1{
text-align: center;
padding: 10px 0;
}
.our_meet>div img,.our_meet2>div img {
    width: 100%;
    height: 100%;
}
.our_meet2>div{
    height: 230px;
    border: 1px solid gray;
}
.our_meet>div{
    border: 1px solid gray;
}

@media (max-width:676px) {
    .services_main img,.services_picture img{
        width: 100%;
        height: 100%;
    }
    .service_details{
        grid-template-columns: 1fr;
        margin: 0px auto;
    }
    .service_details,.meetup{
        width: 100%;
    }
    .our_meet, .our_meet2{
        grid-template-columns: 1fr 1fr;
        gap: 6px;
        padding: 0px 10px;
    }

}
