/* Define two different classes for active and inactive states */
.active {
    background-color: green;
    color: white;
    padding: 20px;
    transition: background-color 0.3s ease;
  }
  
  .inactive {
    background-color: red;
    color: white;
    padding: 20px;
    transition: background-color 0.3s ease;
  }
  

  .rerergefgefgerg{
    height: 900px;
    background-color: red;
  }

  .active {
    background-color: green;
    color: white;
  }
  
  .inactive {
    background-color: red;
    color: white;
  }
  